{
  "presets": ["@babel/env", "@babel/typescript"],
  "plugins": [
    "babel-plugin-transform-dynamic-import",
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@game/*": "./src/game/*",
        "@utils/*": "./src/utils/*",
        "@math/*": "./src/math/*",

        "@game": "./src/game",
        "@utils": "./src/utils",
        "@math": "./src/math"
      }
    }]
  ],
    "env": {
    "test": {
      "plugins": [
        "babel-plugin-dynamic-import-node"
      ]
    }
  },
  "ignore": [
    "**/*.spec.ts",
    "**/*.spec.tsx",
  ]
}
